@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
body {
  background-color: #020617;
  background: #020617;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #06b6d4;
  border-radius: 10px;
}
::selection {
  background: #06b6d4;
  color: white;
}